@(request: play.mvc.Http.Request)
<!DOCTYPE html>

<html>
<head>
    <title>WebSocket Test</title>
    <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>;
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
</head>
<body data-ws-url="@routes.HomeController.ws.webSocketURL(request)">
    <h1>Search your keyword!</h1>
    <div>
        <form id="addsymbolform" class="navbar-form pull-right">
            <input id="addsymboltext" type="text" class="span2" placeholder="SYMBOL">
            <button type="submit" class="btn">Search</button>
        </form>
    </div>
    <div id="time"> </div>
</body>
</html>